<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ABSASuite">
  <test thread-count="5" name="ABSATest">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.ABSAAssessment.TestCases.TC001"/>
    </classes>
  </test> <!-- ABSATest -->
</suite> <!-- ABSASuite -->
